html, body {
    min-width: 300px;
}
*{
    margin: 0px;
}
header{
    margin-top: 10px;
    display: flex;
    justify-content: right;
    align-items: center;
    gap: 25px;
    margin-right: 60px;
    margin-bottom: 50px;
}
#parent_cont{
    margin-left:5vw;
    display: flex;
    align-items: center;
    justify-content:left;
    gap: 30vw;
}
.cont1{
    width: 25vw;
}
#sec2{
    display:flex;
    align-items:center;
    justify-content: space-between;
    background-color: whitesmoke;
    height: 40vh;
    padding-left:  50px;
    text-align: center;
}
.sec2_div{
    width: 29vw;
}
.photos_sec2{
    height: 40vh;
    display: flex; 
    justify-content: right ;
    gap:2px;
    margin-right: 30px 
}
#sec3{
    margin-top:100px;
    display:flex;
    align-items:center;
    justify-content: space-between;
    background-color: whitesmoke;
    height: 40vh;
    padding-left:  50px;
}
.sec3_div{
    width: 29vw;
}
#sec4{
    margin-top:100px;
    display:flex;   
    align-items:center;
    justify-content: center;
    gap: 20vw;
    background-color: darkblue;
    height: 40vh;
    padding-left:  50px;
    padding-right:  50px;
    text-align: center;

}
.h{
    width: 20vw;
    color: white;
}
#sec5{
    margin-top:100px;
    display:flex;   
    align-items:center;
    justify-content: space-between;
    gap: 20vw;
    background-color: whitesmoke;
    height: 45vh;
    padding-left:  50px;
    padding-right:  50px;

}
.childsec15{
    text-align: start;
}
.childsec25{
    text-align: end;
}
.sec6{
    margin-top:100px;
    display:flex;   
    align-items:center;
    justify-content: center;
    gap: 20vw;
    background-color: whitesmoke;
    height: 45vh;
    /* width: 100vw; */
    padding-left:  50px;
    padding-right:  50px;   
}
.airpodsdesc{
    margin-right:20vw;
    text-align: center;
}
.sec7{
    margin-top:50px;
    display:flex;   
    align-items:center;
    justify-content: center;
    gap: 20vw;
    background-color: whitesmoke;
    height: 45vh;
    /* width: 100vw; */
    padding-left:  50px;
    padding-right:  50px;
    margin-bottom: 40px;
}
.asus{
    width:40vw;
    margin-right:20vw;
    text-align: center;
}
hr {
    border: 1px solid black;
    width: 80vw;
    margin-left: 50vw;
    translate: -50% ;
}
footer{
    height: 40vh;
    margin-top: 40px;
    background-color: darkblue  ;
}
.tot{
    height: 35vh;
    display:flex;
    justify-content: center;
    align-items: center ;
    gap: 60vw;
}
.fot1{
    text-align: start;
    width:20vw;
    color:white;
}
h2{
    margin-bottom: 10px;
}
.copywrite{
    color:white;
    margin-left: 50vw;
}
@media screen and (max-width:800px) {
    header{
        flex-direction: column;    
}
    #parent_cont{
        flex-direction: column;
        gap: 2%;
    }
    .cont1{
        width: 60vw;
    }
    #sec2{
        flex-direction: column;
        margin-top: 20%;
        height: 60vh;

    }
    .sec2_div{
        width: 60vw;
    }
#sec3{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20%;
    height: auto;
    gap: 2%;
}
.photos_sec2{
    justify-content: center;
    align-items: center;
    margin-right: 0;
    width: 20%;
    height: 50%;
    }
.photos_sec3{
    flex-direction: column;
    align-items: center;
}
.sec3_div{
    width: 60vw;    
}
#sec4{
    flex-direction: column;
    height: auto;
}
.h{
    width: 60vw;
}
#sec5{
    flex-direction: column;
    height: auto;
}
.sec6{
    flex-direction: column;
    height: auto;
    justify-content: center;
    align-items: center;
    gap: 0%;
}
.airpodsdesc{
    width: auto;
    margin-left: 50%;
    translate: -50% ;
    margin-right: 0;
    padding-right: 0;
}
.sec7{
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0%;
    height:auto;
    padding-left: 0;
}
.asus{
    translate: 25% ;
}
.asus_img{
    margin-right: 25vw;
}
.tot{
    flex-direction: column;
    align-items: center;
    gap: 2vw;
    height: auto;
 }
#ref{
    height: auto;
}
.fot1{
    width: 50vw;
}
.copywrite{
    margin-left: 17vw;
}